<header>
     <nav class="navbar navbar-default navbar-fixed-top">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mini_menu">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="#"><img src="images/name_and_logo.png" class="img-responsive"></a>

    </div>

    <div class="collapse navbar-collapse" id="mini_menu">
        <ul class="nav navbar-nav navbar-left">
          <li><a href="http://rossyoung5.github.io#about" class="nav1">About Ross</a></li>
          <li><a href="http://rossyoung5.github.io#projects" class="nav1">Projects</a></li>
          <li><a href="http://rossyoung5.github.io#contact" class="nav1">Contact Ross</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="social"><a href="https://www.github.com/rossyoung5" target="_blank">
                <i class="fa fa-lg fa-github-alt" title="GitHub"></i></a></li>
            <li class="social"><a href="https://www.linkedin.com/in/rossyoung5" target="_blank">
                <i class="fa fa-lg fa-linkedin-square" title="LinkedIn"></i></a></li>
            <li class="social"><a href="https://twitter.com/mrossyoung" target="_blank">
                <i class="fa fa-lg fa-twitter" title="Twitter"></i></a></li>
            <li class="social"><a href="mailto: ross.young12@gmail.com" target="_blank">
                <i class="fa fa-lg fa-envelope" title="Email"></i></a></li>
          </ul>
      </div>
    </nav>
  </header>