<h2>Categories</h2>

<% Category.order(:name).each do |category| %>
  <li>
    <%= link_to category.name.titleize, posts_path(category_id: category.id)%>
  </li>
<% end %>

<div>
  <% if user_signed_in? && current_user.admin? %>
    <h3>Admin Options</h3>
    <li><%= link_to 'New Post', new_post_path %></li>
    <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
    <% elsif user_signed_in? %>
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  <% end %>
</div>
