<h2>Categories</h2>

<% Category.order(:name).each do |category| %>
  <li>
    <%= link_to category.name.titleize, posts_path(category_id: category.id)%>
  </li>
<% end %>

<% if user_signed_in? %>
    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
<% end %>